.header {
  z-index: 10;
  height: 88px;
  position:sticky;
  background-color: #090A0C;
  top: 0; 
  display: flex;
  align-items: center;
  .logo{
    height: auto;
    width: 211px;
    margin-left: 32px;
    position: absolute;
  }
}

hr {
  bottom: 0;
  margin-top: 78px;
  display: block;
  margin-left: 36px;
  margin-right: 36px;
  height: 1px;
  border: 0;
  border-top: 2px solid #131313;
  padding: 0;
}

@media only screen and (max-width: 450px) {
  .header {
    .logo{
      height: auto;
      width: 211px;
      margin-left: 16px;
    }
  }
}
