.logo-main {
  width: 877px;
  height: auto;
  margin: auto;
}
.logo-div {
  height: 754px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-main {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 704px;
  background-position: center;
}

.mail {
  height: 453px;
}
p.a {
  font-size: 64px;
  font-weight: 600;
  margin-top: 185px;
  margin-left: 177px;
  background-color: transparent;
}
p.b {
  font-size: 20px;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 177px;
}
