.logo-main {
  width: 877px;
  height: auto;
  margin: auto;
}
.logo-div {
  height: 754px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image-holder{
  position: relative;
  height: 704px;
  align-items: center;
  .main-image{
    max-width: 100%;
    height: auto;
  }
  .large-text {
    position:absolute;
    font-size: 3.333vw;
    font-weight: 700;
    top: 9.635vw;
    display: inline-block;
    width: 29.115vw;
    left: 7.552vw;
    color: white;
    background-color: transparent;
  }
  .small-text {
    position: absolute;
    font-size: 1.042vw;
    text-align: start;
    background-color: transparent;
    top: 21.302vw;
    left: 7.552vw;
    text-align: start;
    width: 32.917vw;
    color: white;
  }
}
@media only screen and (min-width: 1921px) {


  .main-image-holder{
    position: relative;
    height: 704px;
    width: 1920px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    .main-image{
      max-width: 100%;
      height: auto;
      align-self: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .large-text {
      position:absolute;
      font-size: 64px;
      font-weight: 700;
      top: 185px;
      display: inline-block;
      width: 559px;
      left: 177px;
      color: white;
      background-color: transparent;
    }
    .small-text {
      position: absolute;
      font-size: 20px;
      text-align: start;
      background-color: transparent;
      top: 409px;
      left: 177px;
      text-align: start;
      width: 632px;
      color: white;
    }
  }

}

@media only screen and (max-width: 450px) {
  .main-image-holder{
    position: relative;
    height: 704px;
    align-items: center;
    .main-image{
      max-width: 100%;
      height: auto;
    }
    .large-text {
      position:absolute;
      font-size: 3.333vw;
      font-weight: 700;
      top: 9.635vw;
      display: inline-block;
      width: 29.115vw;
      left: 10vw;
      color: white;
      background-color: transparent;
    }
    .small-text {
      position: absolute;
      font-size: 1.042vw;
      text-align: start;
      background-color: transparent;
      top: 21.302vw;
      left: 10vw;
      text-align: start;
      width: 32.917vw;
      color: white;
    }
  }
}